<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav>
        <ul class="menu">
            <li class="logo">MySeries</li>
            <li class="text"><a href="/series">Home</a></li>
            <li class="text"><a href="/series">Series</a></li>
            <li class="text"><a href="#">Option 2</a></li>
            <li class="text"><a href="#">Option 3</a></li>
            <li class="text button"><a href="#">Login</a></li>
            <li class="text button"><a href="#">Sign up</a></li>
            <!-- Source: https://www.w3schools.com/tags/tag_span.asp + https://www.w3schools.com/html/html_blocks.asp       -->
            <li class="menu-icon"><i class="material-icons md-white">menu</i></li>
        </ul>
    </nav>
</div>
<!--costum navbar fragment-->