<!-- Put your HTML here -->

<html lang=”en” xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: header"></div>
<!--navbar-->
<div th:replace="fragments/topnav.html :: navbar"></div>

<body>
<section class="main-container">
    <div class="location" id="home">
        <h1 id="title">watch</h1>
        <div class="box">
            <a href=""><img
                    src="img/deeznuts.jpg"
                    alt=""></a>
            <a href=""><img
                    src="img/pokemon.jpg"
                    alt=""></a>
            <a href=""><img
                    src="img/tokyo_ghoul.jpg"
                    alt=""></a>
        </div>
    </div>
</section>

<a th:href="@{/login}">Login >></a>


</body>
</html>