<!-- Put your HTML here -->

<html lang=”en” xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: header"></div>
<!--navbar-->
<div th:replace="fragments/topnav.html :: navbar"></div>
<title>Login page</title>
<body>

<p th:if="${onjuisteGegevens}" class="error">Invalid Username/Password</p>

<img id="register-background" src="img/img1.jpg" alt="Background image">
<div class="form-wrap">
    <form th:action="@{/login}" th:object="${login}" method="post">
        <h1 id="register-title">Login</h1>
        <input type="text" id="userName" placeholder="Gebruikersnaam" name="userName" autofocus="autofocus" required/>
        <input type="password" id="password" placeholder="Wachtwoord" name="password" required/>
        <input type="submit" value="Login"/>
        <a href="/register"> Heb je geen Account? Klik dan hier!</a>
    </form>
</div>
</body>
</body>
</html>