<!-- Put your HTML here -->
<html lang=”en” xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: header"></div>
<!--navbar-->
<div th:replace="fragments/topnav.html :: navbar"></div>
<title>Register page</title>
<body>
<img id="register-background" src="img/img1.jpg" alt="Background image">
<div class="form-wrap">
    <form th:action="@{/register}" th:object="${registerd}" method="post">
        <h1 id="register-title">Register here</h1>
        <input type="text" id="userName" placeholder="Gebruikersnaam" name="userName" autofocus="autofocus" required/>
        <input type="password" id="password" placeholder="Wachtwoord" name="password" required/>
        <input type="submit" value="Register"/>
        <a id="register-image" href="/login">Heb je al een Account? Login in hier</a>
    </form>
</div>
</body>
</html>