<!-- Put your HTML here -->

<html lang=”en” xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: header"></div>
<!--navbar-->
<div th:replace="fragments/topnav.html :: navbar"></div>
<body>

<!--<form action="#" th:action="@{/series}"  method="post">-->
<!--    <input type="text" th:value="">-->
<!--</form>-->

<div class="container">
    <h1>Series: </h1>
    <span th:text="${session.username}">username</span>
    <span th:text="${numberOfVisits}">number</span>
    <table>
        <tr>
            <th>title</th>
            <th>ID</th>
            <th>image</th>
            <th>delete</th>
            <th>update</th>
        </tr>
        <tr th:each="serie : ${series}">
            <td>
                <a th:text="${serie.getTitle()}" th:href="@{'/serie/' + ${serie.id}}" target="_blank"></a>
            </td>
            <td
                    th:text="${serie.getId()}">id
            </td>
            <td>
                <img th:src="${serie.getImageurl()}">
            </td>
            <td>
                <form action="" th:action="@{'/serie/update/{id}'(id=${serie.getId()})}" th:method="patch"
                      method="post">
                    <input type="text" value="update serie naam">
                </form>
            </td>
            <td>
                <form action="" th:action="@{'/serie/delete/{id}'(id=${serie.getId()})}" th:method="delete"
                      method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
    </div>
</div>

</body>
</html>