<!-- Put your HTML here -->

<html lang=”en” xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: header"></div>
<!--navbar-->
<div th:replace="fragments/topnav.html :: navbar"></div>

<body>
<div class="seriePart">
    <h1>Serie: </h1>
    <p th:text="${serie.getTitle()}"></p>
    <p th:text="${serie.getId()}"></p>
    <img th:src="${serie.getImageurl()}">
    <form action="" th:action="@{'/serie/delete/{id}'(id=${serie.getId()})}" th:method="delete" method="post">
        <input type="submit" value="Delete">
    </form>
    <form action="" th:action="@{'/serie/update/{id}'(id=${serie.getId()})}" th:method="patch" method="post">
        <input type="text" value="update serie naam">
    </form>
    <h2>reviews</h2>
</div>

</form>
<div class="class_review">
    <table>
        <tr>
            <th>User</th>
            <th>comment</th>
            <th>rating</th>
            <th>date added</th>
            <th>delete</th>
            <th>update</th>
        </tr>
        <tr th:each="pier : ${serie.getReview()}">
            <td>
                <a th:text="${pier.getUser()}"></a>
            </td>
            <td>
                <a th:text="${pier.getComment()}"></a>
            </td>
            <td>
                <a th:text="${pier.getRating()}"></a>
            </td>
            <td>
                <a th:text="${pier.getDate()}"></a>
            </td>
            <td>
                <form action="/delete" method="post">
                    <input type="Submit" value="delete">
                </form>
            </td>
            <td>
                <form action="/delete" method="post">
                    <input type="Text" value="Update">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>