<!-- Put your HTML here -->
<!DOCTYPE html>
<html lang=”en” xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: header"></div>
<!--navbar-->
<div th:replace="fragments/topnav.html :: navbar"></div>

<body>

<div class="container">
    <h1>Series: </h1>
    <div th:if="${not #lists.isEmpty(series)}">
    <div th:each="serie : ${series}">
        <a th:href="@{'/serie/' + ${serie.id}}">
            <p th:text="${serie.getTitle()}"></p>
        </a>
    </div>

    <table>
        <tr>
            <th>title</th>
            <th>ID</th>
            <th>image</th>
        </tr>
        <tr th:each="serie : ${series}">
            <td>
                <a th:text="${serie.getTitle()}" th:href="@{'/serie/' + ${serie.id}}" target="_blank"></a>
            </td>
            <td
                    th:text="${serie.getId()}">id
            </td>
            <td>
                   <img th:src="${serie.getImageurl()}">
            </td>
        </tr>
    </table>
    </div>
</div>

</body>
</html>